* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #e2dfdf;
  margin: 0;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}

/* Sección del carrito*/
#carrito-seccion {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carrito-cantidad {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

#vaciar-carrito-btn {
  background-color: rgb(220, 62, 62);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

#ver-carrito-btn,
#pagar-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

#vaciar-carrito-btn:hover {
  background-color: #b83c3c;
}

#ver-carrito-btn:hover,
#pagar-btn:hover {
  background-color: #45a049;
}

#mensaje-exito {
  color: #4caf50;
  margin-top: 10px;
}

#listado-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card-producto {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-producto p {
  margin: 0;
}

/* Botón de agregar al carrito */
.card-producto button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.card-producto button:hover {
  background-color: #45a049;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botón de cierre de la modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.card-producto img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/* Pantallas pequeñas */
@media screen and (max-width: 480px) {
  #carrito-seccion {
    position: static;
    width: 100%;
    margin-top: 20px;
    gap: 30px;
  }
}

/* Pantallas medianas */
@media screen and (max-width: 768px) {
  .content {
    max-width: 90%;
  }
  #listado-productos {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Pantallas grandes */
.content {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (min-width: 1201px) {
  #listado-productos {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}

/* Pantallas entre 1201px y 1700px */
@media screen and (min-width: 1201px) and (max-width: 1700px) {
  #listado-productos {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Agrega espacio entre las tarjetas */
  }
}

/* Pantallas más grandes de 1701px */
@media screen and (min-width: 1701px) {
  #listado-productos {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

/* Agrega espacio interno en las tarjetas de producto */
.card-producto {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .card-producto:hover {
  transform: scale(1.05);
} */

.card-producto p {
  margin: 0;
}

.card-producto button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.card-producto button:hover {
  background-color: #45a049;
}
